body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;

}

span{
  text-decoration: underline;
}

a:hover{
  color: #EAF6F6;
}

hr {
  width: 4%;
  border: dotted;
  border-bottom: none;
  border-width: 6px;
  border-color: #EAF6F6;
  margin: 100px auto;
}

p {
  line-height: 2;
}

.intro {
  width: 30%;
  margin: auto;
}

.second-heading {
  font-weight: normal;
}

.contact-msg {
  width: 40%;
  margin: 40px auto 60px;
  visibility: hidden;
}

.top-container {
  background-color: #e4f9f5;
  padding-top: 100px;
  position: relative;
  height: 85vh;
}

.middle-container {
  margin: 100px auto;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
  text-align: center;
}

.top-cloud {
  position: absolute;
  right: 600px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 450px;
  bottom: 450px;
}

.mountain{
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -18.6875rem;

}



.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.patrick-images {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.patrick-images2 {
  width: 35%;
  float: right;
  margin-left: 30px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

/*
to make text below the image but heading align left or right to image
.skill-desc-1{
  clear: left;
  padding-top: 10px;
}
.skill-desc-2{
  clear: right;
  padding-top: 10px;
} */
.button {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 20px;
  text-shadow: 1px 1px 20px #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  border: solid #2BC4AD 1px;
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}
